# dependencies
node_modules/
/.pnp
.pnp.js

# build output
/.next/
/out/
/dist/

# env files — NUNCA subir las claves
.env
.env.local
.env*.local
.env.production

# misc
.DS_Store
*.pem
.vscode/
.idea/

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel
